<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=
    , initial-scale=1.0">
    <title>Document</title>
         <script src="https://cdnjs.cloudflare.com/ajax/libs/crypto-js/4.0.0/core.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/crypto-js/3.1.9-1/md5.js"></script>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">   
  
        <script src="https://cdn.jsdelivr.net/npm/sweetalert2@9"></script>


</head>
<body>
    
    <div style="border:2px solid black; width:80%;margin:auto;margin-top:50px;padding:20px">
        <h1>Passport Auth Application</h1>

        <form action="/user/resetpassword" method="POST">
            <br><br><br>
            <input style="    height: 40px;   width: 300px;" type="text" placeholder="email" name="email">

            <br><br>
            <input style="    height: 40px;   width: 300px;" type="password" placeholder="oldpassword" name="oldpassword">
            <br><br>
            <input style="    height: 40px;  width: 300px;" type="password" placeholder="newpassword" name="newpassword">
            <br><br>
            <input style="    height: 40px;  width: 300px;" type="password" placeholder="confirmpassword" name="confirmpassword">
            <br><br>
            <button style="margin-left: 30px;" class="btn btn-primary" type="submit">submit</button>
  

    </form>
</div>
</body>
</html>